.container {
    height: 100vh;
}
.row.up {
    height: 90vh;
}
.row.down {
    height: 10vh;
}

nav {
    height: 100%;
    width: 100%;
    background-color: black;
}
header {
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: red;
}
main {
    height: calc(100vh - 100px);
    background-color: yellow;
    overflow: auto;
}
footer {
    height: 100px;
    width: 100%;
    background-color: teal;
}